DATABASE_URL="mongodb+srv://USERNAME:PASSWORD@cluster0.example.mongodb.net/losify?retryWrites=true&w=majority"
GROQ_API_KEY=""
GROQ_MODEL="llama-3.2-11b-vision-preview"
HOD_EMAIL="hod@losify-campus.edu"
RESEND_API_KEY=""
FROM_EMAIL="Losify <no-reply@losify-campus.edu>"
